/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Roboto+Condensed:wght@300&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@200;300;400;600&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
	--main-color: var(#dc7d17);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}

section{
    padding: 5rem 9%;
}

/* LOGIN PAGE */

#login{
   background: url(Images/804864.jpg);
	min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    margin: 0;
    padding: 0;
}

/* Navbar */

.navbar{
    background: transparent;
    position: sticky;
}

.navbar .navbar-nav a{
    color: white;
    padding: 2rem;
    font-size: 2rem;
    text-align: right;
}

.navbar .navbar-nav a:hover{
    color: #dc7d17;
}

.navbar .navbar-brand {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 2rem;
    color: white;
}

.navbar .custom-logo{
    color: #dc7d17;
}

.login-container{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: space-between;
	margin-top: 2rem;
}

.login-title{
  padding: 10px;
  flex: 50%;
}

.login-title h1,h3{
	font-family: 'Bebas Neue';
	font-size: 10rem;
}

.login-title h3{
	font-size: 3rem;
	text-align: center;
	color: #dc7d17;
}

/* LOGIN FORM */
.login-form{
    padding: 10px;
    flex:50%;
	/*margin: 4rem;*/
	color: black;
}

.login-form .card .card-body h2{
	font-size: 2rem;
}

.login-form .card{
	background: transparent;
	backdrop-filter: blur(10px);
	color: white;
	border-color: rgba(255, 255, 255, 0.21);
	border-radius: 10px;
}


/*
.login-form .form-check{
	margin: auto;
}

.login-form .forgot{
	
}

.login-form label{
	display: block;
	margin: auto;
	text-align: center;
	padding: 1.5rem;
}

.login-form input{
	margin: auto;
	width: 40rem;
}

.login-form button{
	background: #dc7d17;
	border: none;
	border-radius: 0;
	padding: 1rem 2rem 1rem 2rem;
	font-size: 2rem;
	font-family: 'Poppins', sans-serif;
}

.login-form .form-check-label{
	margin: auto;
}
*/

@media (max-width: 800px) {
    .login-container {
      flex-direction: column;
    }

	.login-container .login-title  {
		display: none;
	}

	/*
	.login-container .login-form{
		margin: 2rem;
	}
	*/
}

@media (max-width: 1000px) {
	/*
    .login-container {
      flex-direction: column;
    }
*/
	.login-container .login-title {
		display: none;
	}

}

/* SERVICES */

a,p,h1,h2,h3,h4,ul {
	margin: 0;
	padding: 0;
}

.section-services {
	padding-top: 110px;
	padding-bottom: 120px;
	font-family: "Poppins", sans-serif;
	background-color: #211f24;
	color: #fff;
}

.section-services .header-section {
	margin-bottom: 35px;
}

.section-services .header-section .title {
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 25px;
	text-transform: uppercase;
	font-weight: 700;
}

.section-services .header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 140px;
	height: 1px;
	background-color: #dc7d17;
}

.section-services .header-section .title:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);
	width: 45px;
	height: 3px;
	background-color: #dc7d17;
}

.section-services .header-section .title span {
	color: #dc7d17;
}

.section-services .header-section .description {
	color: #6f6f71;
}

.section-services .single-service {
	margin-top: 40px;
	background-color: #24252a;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.section-services .single-service .part-1 {
	padding: 40px 40px 25px;
	border-bottom: 2px solid #1d1e23;
}

.section-services .single-service .part-1 i {
	margin-bottom: 25px;
	font-size: 50px;
	color: #dc7d17;
}

.section-services .single-service .part-1 .title {
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1.8em;
}

.section-services .single-service .part-2 {
	padding: 30px 40px 40px;
}

.section-services .single-service .part-2 .description {
	margin-bottom: 22px;
	color: #6f6f71;
	font-size: 14px;
	line-height: 1.8em;
}

.section-services .single-service .part-2 a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.section-services .single-service .part-2 a i {
	margin-right: 10px;
	color: #dc7d17;
}

/* TESTIMONIAL */
#testimonial{
    font-family: "Poppins", sans-serif;
}

#testimonial .title{
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    font-size: 3rem;

}

#testimonial .text-test{
    color: #dc7d17;
	font-size: 2rem;
	padding: 2rem;
}

#testimonial .althete-desc{
	font-size: 2rem;
	padding-bottom: 2rem;
}

/*
#testimonial .card-test{
    background: rgba(43, 43, 43, 0.705);
    padding: 2rem;
}
*/

#testimonial .card-test img {
    border-radius: 50%;
}

/* CONTACT */

#contact {
	padding-top: 110px;
	padding-bottom: 120px;
	font-family: "Poppins", sans-serif;
	background-color: #dc7d17;
	color: #fff;
}

#contact-form{
	margin: auto;
}

/* FOOTER */

footer {
	font-family: "Poppins", sans-serif;
	background-color: #000000ef;
	color: #fff;
}


/* JAVASCRIPT REVEAL */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
