/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Roboto+Condensed:wght@300&family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@200;300;400;600&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --main-color: #dc7d17;
  --second-bg: #211f24;
  --second-text: rgba(255, 255, 255, 0.59);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

body {
  background: whitesmoke;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

section {
  padding: 5rem 9%;
}

/* LOGIN PAGE */

#login {
  background-color: rgba(255, 255, 255, 0.59);
  background-image: url(Images/804864.jpg);
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  margin: 0;
  padding: 0;
}

/* Navbar */

.navbar.sticky-top {
  background-color: transparent;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.navbar .navbar-nav a {
  color: transparent;
  padding: 2rem;
  font-size: 2rem;
  text-align: right;
}

.navbar .navbar-nav .dropdown-toggle {
  color: white; /* sets the text color of the drop-down toggle to a different color */
  background-color: transparent; /* sets the background color of the drop-down toggle to white */
}

.navbar .navbar-nav a:hover {
  color: #dc7d17;
}

.navbar .navbar-brand {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 2rem;
  color: white;
}

.navbar .custom-logo {
  color: #dc7d17;
}

.navbar-scroll {
  background-color: #787a7b !important;
}

/* TOP PAGE */

.login-title {
  padding-top: 25rem;
  flex: 50%;
  color: white;
  
}

.login-title span {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.59);
  font-family: "Bebas Neue";
  line-height: 0;
}

.login-title .period {
  color: var(--main-color);
  font-size: 6rem;
}

.login-title h1,
h3 {
  font-family: "Bebas Neue";
  font-size: 5rem;
  margin: auto;
  text-align: center;
}

.login-title h3 {
  font-size: 3rem;
  text-align: center;
  color: var(--main-color);
}
/* Items disappear into hamburger icon*/
@media screen and (max-width: 576px) {
  .navbar-nav {
    display: none;
  }

  .navbar-toggler-icon {
    display: block;
    background-color: #dc7d17;
    /* filter: invert(87%) sepia(100%) saturate(7000%) hue-rotate(1000deg)
			brightness(600%) contrast(114%);*/
  }
}

@media screen and (min-width: 576px) {
  .navbar-nav {
    display: flex !important;
  }

  .navbar-nav .nav-item {
    margin: 0 1rem;
  }

  .navbar-toggler {
    display: none;
  }

  @media (max-width: 800px) {
    .login-container {
      flex-direction: column;
    }
  }
}
.login-title .login-btn {
  text-align: center;
  margin: 5rem;
  background: var(--main-color);
  border: none;
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 0;
  color: white;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-size: 2.5rem;
}

/* SERVICES */
a,
p,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}

.section-services {
  padding-top: 110px;
  padding-bottom: 120px;
  font-family: "Poppins", sans-serif;
  background-color: #211f24;
  color: #fff;
}

.section-services .header-section {
  margin-bottom: 35px;
}

.section-services .header-section .title {
  font-family: "Bebas Neue";
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.section-services .header-section .title span {
  color: var(--main-color);
}

.section-services .header-section .description {
  color: var(--second-text);
  font-size: 1.5rem;
}

.section-services .single-service {
  margin-top: 40px;
  background-color: #24252a;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.section-services .single-service .part-1 {
  padding: 40px 40px 25px;
  border-bottom: 2px solid #1d1e23;
}

.section-services .single-service .part-1 .title {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.8em;
}

.section-services .single-service .part-2 {
  padding: 30px 40px 40px;
}

.section-services .single-service .part-2 .description {
  margin-bottom: 22px;
  color: #6f6f71;
  font-size: 14px;
  line-height: 1.8em;
}

.section-services .single-service .part-2 a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

/* TESTIMONIAL */
#testimonial {
  font-family: "Poppins", sans-serif;
  background: whitesmoke;
  color: #211f24;
}

#testimonial .title {
  font-family: "Bebas Neue";
  text-transform: uppercase;
  font-size: 4rem;
}

#testimonial .text-test {
  color: gray;
  font-size: 1.5rem;
  padding: 1rem;
}

#testimonial .althete-desc {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

#testimonial h5{
  font-family: "Bebas Neue";
  color: var(--main-color);
  font-size: 2rem;
}

/* CONTACT */


/* FOOTER */
footer{
  width: 100%;
  position: absolute;
  background: #151417;
  color: white;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
}

.row1 {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col1{
  flex-basis: 25%;
  padding: 10px;
}

.col1:nth-child(2),.col1:nth-child(3){
  flex-basis: 15%;
}

footer .logo {
  /*width: 80px;*/
  margin-bottom: 30px;
}


footer .logo span {
  color: var(--yellow);
}

.col1 h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
  color: var(--blue);
  font-size: 2rem;
}

footer ul li {
  list-style: none;
  margin-bottom: 12px;   
}

footer ul li a{
  text-decoration: none;
  color: white;
}

footer ul li a:hover{
  color: var(--main-color);
}

.social-icons .fab{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: white;
  margin-right: 15px;
  cursor: pointer;
}

/* JAVASCRIPT REVEAL */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* MEDIA */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 700px){
  footer{
    bottom: unset;
  }
  .col1{
    flex-basis: 100%;
  }
  .col1:nth-child(2), col1:nth-child(3){
    flex-basis: 100%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
